@model ForgetPasswordEmail
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="login-area" style="width:500px;margin: 3% auto">
    <div class="card">
        <div class="card-header" style="border-top:3px solid">
            <h4 class="text-center font-weight-bold">Forget Password ?</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ForgetPassword", "ForgetPassword", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div>
                    <i class="fas fa-envelope"></i> @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter associated email to your account" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-info btn-block mt-3"><i class="fas fa-hands-helping"></i> Submit</button>
            }
        </div>
    </div>
</div>

@section SweetAlert {
    @if (TempData["NotFoundUser"] != null)
    {
        <script>
            swal({
                title: "Status!",
                text: "@TempData["NotFoundUser"]",
                icon: "error",
                button: "Ok!",
            });
        </script>
    }
}

